[package]
name = "scrypto-test"
version = "1.2.0-dev"
edition = "2021"

[dependencies]
# The Radix Engine Stack
sbor = { workspace = true }
radix-native-sdk = { workspace = true }
radix-transactions = { workspace = true }
radix-engine = { workspace = true, features = ["radix_engine_tests", "db_checker"] }
radix-substate-store-impls = { workspace = true }
radix-common = { workspace = true }
radix-engine-interface = { workspace = true }
radix-substate-store-interface = { workspace = true }
radix-substate-store-queries = { workspace = true }
wabt = { workspace = true }
ouroboros = { workspace = true }
paste = { workspace = true }
serde_json = { workspace = true }

[dev-dependencies]
tuple-return = { path = "./tests/blueprints/tuple-return", features = ["test"], default-features = false }

[features]
default = ["std"]

std = ["moka", "sbor/std", "radix-native-sdk/std", "radix-transactions/std", "radix-engine/std", "radix-substate-store-queries/std", "radix-substate-store-impls/std", "radix-common/std", "radix-engine-interface/std", "radix-substate-store-interface/std", "tuple-return/std"]
alloc = ["lru", "sbor/alloc", "radix-native-sdk/alloc", "radix-transactions/alloc", "radix-engine/alloc", "radix-substate-store-queries/alloc", "radix-substate-store-impls/alloc", "radix-common/alloc", "radix-engine-interface/alloc", "radix-substate-store-interface/alloc", "tuple-return/alloc"]

moka = ["radix-engine/moka"]
lru = ["radix-engine/lru"]

resource_tracker = []

rocksdb = ["radix-substate-store-impls/rocksdb"]
post_run_db_check = []

[lib]
doctest = false
bench = false