[package]
name = "scrypto-test"
version = "1.3.0"
edition = "2021"
description = "A library for testing Scrypto blueprints, from the Radix DLT project."
readme = "README.md"
license-file = "../LICENSE"
repository = "https://github.com/radixdlt/radixdlt-scrypto"

[dependencies]
# The Radix Engine Stack
sbor = { workspace = true }
radix-native-sdk = { workspace = true }
radix-transactions = { workspace = true }
radix-engine = { workspace = true, features = ["radix_engine_tests", "db_checker", "test_utils"] }
radix-substate-store-impls = { workspace = true }
radix-common = { workspace = true }
radix-engine-interface = { workspace = true }
radix-substate-store-interface = { workspace = true }
radix-substate-store-queries = { workspace = true }
scrypto-compiler = { workspace = true }

# Included to re-export some useful things into the scrypto-test prelude
scrypto = { workspace = true }

wabt = { workspace = true }
ouroboros = { workspace = true }
paste = { workspace = true }
serde_json = { workspace = true }

[dev-dependencies]
# Used as a test case for testing TestEnvironment
tuple-return = { path = "./tests/blueprints/tuple-return", features = ["test"], default-features = false }

[features]
default = ["std"]

std = [
    "moka",
    "sbor/std",
    "scrypto/std",
    "radix-native-sdk/std",
    "scrypto-compiler/std",
    "radix-transactions/std",
    "radix-engine/std",
    "radix-substate-store-queries/std",
    "radix-substate-store-impls/std",
    "radix-common/std",
    "radix-engine-interface/std",
    "radix-substate-store-interface/std",
    "tuple-return/std"
]
alloc = [
    "lru",
    "sbor/alloc",
    "scrypto/alloc",
    "radix-native-sdk/alloc",
    "scrypto-compiler/alloc",
    "radix-transactions/alloc",
    "radix-engine/alloc",
    "radix-substate-store-queries/alloc",
    "radix-substate-store-impls/alloc",
    "radix-common/alloc",
    "radix-engine-interface/alloc",
    "radix-substate-store-interface/alloc",
    "tuple-return/alloc"
]

moka = ["radix-engine/moka"]
lru = ["radix-engine/lru"]

resource_tracker = ["radix-engine/resource_tracker", "radix-common/resource_tracker"]

rocksdb = ["radix-substate-store-impls/rocksdb"]
post_run_db_check = []

coverage = ["radix-common/coverage", "radix-engine/coverage"]

[lib]
bench = false
