[package]
name = "sbor-derive-common"
version = "1.3.0"
edition = "2021"
description = "A library for implementing SBOR derives, from the Radix DLT project."
readme = "README.md"
license-file = "../LICENSE"
repository = "https://github.com/radixdlt/radixdlt-scrypto"

[dependencies]
proc-macro2 = { workspace = true }
syn = { workspace = true, features = ["full", "extra-traits"] }
quote = { workspace = true }
const-sha1 = { workspace = true } # Chosen because of its small size and 0 transitive dependencies
itertools = { workspace = true }
indexmap = { workspace = true }

[features]
trace = []

[lib]
bench = false
