[package]
name = "radix-engine"
version = "0.4.0"
edition = "2021"

[dependencies]
sbor = { path = "../sbor", default-features = false }
scrypto = { path = "../scrypto", default-features = false}
wasmi = { version = "0.11.0", default-features = false, features = ["virtual_memory"] }
colored = { version = "2.0", default-features = false }
lru = { version = "0.7" }
bencher = { version = "0.1.5" }
hex = { version = "0.4", default-features = false }

[[bench]]
name = "bench"
harness = false

[features]
# You should enable either `std` or `alloc`
default = ["std"]
std = ["sbor/std", "scrypto/std", "wasmi/std"]
alloc = ["sbor/alloc", "scrypto/alloc"]
