[package]
name = "scrypto"
version = "1.3.0"
edition = "2021"
description = "The Scrypto standard library, from the Radix DLT project."
readme = "README.md"
license-file = "../LICENSE"
repository = "https://github.com/radixdlt/radixdlt-scrypto"

[dependencies]
radix-common = { workspace = true }
radix-engine-interface = { workspace = true }
sbor = { workspace = true }
radix-blueprint-schema-init = { workspace = true }
scrypto-derive = { workspace = true }
radix-rust = { workspace = true }
hex = { workspace = true }
num-traits = { workspace = true }
num-bigint = { workspace = true }
bech32 = { workspace = true }
paste = { workspace = true }
serde = { workspace = true, optional = true }
strum = { workspace = true, features = ["derive"] }
const-sha1 = { workspace = true, default-features = false } # Chosen because of its small size and 0 transitive dependencies
minicov = { workspace = true, optional = true }

[features]
# You should enable either `std` or `alloc`
default = ["std"]
std = ["hex/std", "sbor/std", "radix-blueprint-schema-init/std", "scrypto-derive/std", "strum/std", "radix-common/std", "radix-engine-interface/std", "radix-rust/std"]
alloc = ["hex/alloc", "sbor/alloc", "radix-blueprint-schema-init/alloc", "scrypto-derive/alloc", "radix-common/alloc", "radix-engine-interface/alloc", "radix-rust/alloc"]

# Turn on this feature to enable tracing.
trace = ["scrypto-derive/trace"]

# Disable schema gen in the output WASM.
no-schema = ["scrypto-derive/no-schema"]

log-error = []
log-warn = []
log-info = []
log-debug = []
log-trace = []

# Feature to generate code coverage for WASM
coverage = ["minicov"]

[lib]
bench = false
