[package]
name = "sbor"
version = "1.3.0"
edition = "2021"
description = "Reference implementation of the SBOR binary data format, from the Radix DLT project."
readme = "README.md"
license-file = "../LICENSE"
repository = "https://github.com/radixdlt/radixdlt-scrypto"

[dependencies]
radix-rust = { workspace = true }
hex = { workspace = true }
sbor-derive = { workspace = true }
serde = { workspace = true, optional = true, features=["derive"] }
const-sha1 = { workspace = true } # Chosen because of its small size and 0 transitive dependencies
lazy_static = { workspace = true }
paste = { workspace = true }
arbitrary = { workspace = true, features = ["derive"], optional = true }

[dev-dependencies]
serde_json = { workspace = true }

[features]
# You should enable either `std` or `alloc`
default = ["std"]
std = ["radix-rust/std", "serde?/std", "serde_json/std", "serde_json/preserve_order", "hex/std"] # preserve_order requires std
alloc = ["radix-rust/alloc", "serde?/alloc", "lazy_static/spin_no_std", "serde_json/alloc", "hex/alloc"]

# Enable serde derives for SBOR value and type models
serde = ["dep:serde", "radix-rust/serde"]

# Enable tracing
trace = ["sbor-derive/trace"]

# This flag is set by fuzz-tests framework and it is used to disable/enable some optional features
# to let fuzzing work
fuzzing = ["arbitrary", "radix-rust/fuzzing"]

[lib]
bench = false
