[package]
name = "transaction"
version = "0.6.0"
edition = "2021"

[dependencies]
sbor = { path = "../sbor", default-features = false }
scrypto = { path = "../scrypto", default-features = false, features = ["no-prelude"] }
clap = { version = "3.1.17", features = ["derive", "cargo"] }
hex = { version = "0.4.3", default-features = false }
ed25519-dalek = { version = "1.0.1", default-features = false, features = ["u64_backend"]}
secp256k1 = { version = "0.23.1", default-features = false, features = ["global-context"]}

[features]
# You should enable either `std` or `alloc`
default = ["std"]
std = ["sbor/std", "scrypto/std", "hex/std", "ed25519-dalek/std", "secp256k1/std"]
alloc = ["sbor/alloc", "scrypto/alloc", "hex/alloc", "ed25519-dalek/alloc", "secp256k1/alloc"]