[package]
name = "radix-transactions"
version = "1.3.0"
edition = "2021"
description = "Various Radix transaction models and the manifest compiler/decompiler, from the Radix DLT project."
readme = "README.md"
license-file = "../LICENSE"
repository = "https://github.com/radixdlt/radixdlt-scrypto"

[dependencies]
sbor = { workspace = true }
radix-rust = { workspace = true, features = ["unicode"] }
radix-engine-interface = { workspace = true }
radix-common = { workspace = true, features = ["secp256k1_sign_and_validate"]}
radix-substate-store-interface = { workspace = true }
hex = { workspace = true }
serde = { workspace = true, optional = true }
lazy_static = { workspace = true }
strum = { workspace = true }
bech32 = { workspace = true }
paste = { workspace = true }
annotate-snippets = { version = "0.10.2"}

[dev-dependencies]
scrypto = { path = "../scrypto" }
scrypto-derive = { path = "../scrypto-derive" }

[features]
# You should enable either `std` or `alloc`
default = ["std"]
std = [
    "sbor/std",
    "radix-rust/std",
    "radix-engine-interface/std",
    "radix-substate-store-interface/std",
    "radix-common/std",
    "hex/std",
]
alloc = [
    "sbor/alloc",
    "radix-rust/alloc",
    "radix-engine-interface/alloc",
    "radix-substate-store-interface/alloc",
    "radix-common/alloc",
    "hex/alloc",
    "lazy_static/spin_no_std",
]
serde = ["serde/derive"]

dump_manifest_to_file = []

# This flag is set by fuzz-tests framework
fuzzing = [
    "sbor/fuzzing",
    "radix-rust/fuzzing",
    "radix-engine-interface/fuzzing",
    "radix-common/fuzzing",
]

[lib]
bench = false
