[package]
name = "sbor-derive"
version = "1.3.0"
edition = "2021"
description = "A collection of macros for deriving SBOR implementations, from the Radix DLT project."
readme = "README.md"
license-file = "../LICENSE"
repository = "https://github.com/radixdlt/radixdlt-scrypto"

[lib]
proc-macro = true
bench = false

[dependencies]
proc-macro2 = { workspace = true }
syn = { workspace = true, features = ["full", "extra-traits"] }
sbor-derive-common = { workspace = true }

[features]
trace = ["sbor-derive-common/trace"]
