name: Benchmark PR

on:
  pull_request:
    # Run on PR against any branch

concurrency:
  group: benchmark-comparison-${{ github.ref }}
  cancel-in-progress: true

jobs:
  benchmark:
    name: Run bench
    runs-on: ubuntu-16-cores-selfhosted
    permissions:
      pull-requests: write
    steps:
      - uses: RDXWorks-actions/checkout@main
      - name: Setup environment
        uses: ./.github/actions/setup-env
      - uses: radixdlt/criterion-compare-action@update-same-commit
        with:
          branchName: ${{ github.base_ref }}
