name: CI

on:
  push:
    branches:

env:
  CARGO_TERM_COLOR: always

concurrency:
  group: ci-${{ github.ref }}
  cancel-in-progress: true

jobs:
  radix-engine:
    name: Run Radix Engine tests
    runs-on: k8s-linux-runner
    steps:
      - uses: actions/checkout@v3
      - uses: radixdlt/public-iac-resuable-artifacts/rust-setup@chore/install-dependencia-action
      - uses: radixdlt/public-iac-resuable-artifacts/rust-coverage@chore/install-dependencia-action
        with:
          tests-dir: .
          flags: -p radix-engine-common -p radix-engine-derive -p radix-engine-interface -p radix-engine -p radix-engine-tests --ignore-filename-regex *address.rs
